version: '3.4'

services:
  webtorrentdemo:
    restart: always
    image: webtorrentdemo
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 9966:8080
